* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif; 
    font-size: 16px; 
    color: #333; 
    line-height: 1.6;
}


header {
    margin: 0 auto; 
    padding: 20px; 
    background-color: #f8f8f8;
    
}

nav {
    margin-top: 15px; 
}

main {
    margin: 0 auto; 
    padding: 30px; 
    max-width: 1200px;
}

section {
    margin-bottom: 40px; 
    padding: 20px; 
}

footer {
    background-color: black; 
    color: white; 
    margin: 0; 
    padding: 30px; 
    text-align: center;
}


nav a {
    text-decoration: none; 
    font-size: 1.1rem;
    color: #121213; 
    margin-right: 20px;
    padding: 8px 16px;
}


nav a:hover {
    color: #ef6204;
}


img {
    width: 100%; 
    height: 300px; 
    object-fit: cover;
    margin: 20px 0;
}


table {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 20px;
}

th, td {
    padding: 12px 15px; 
    border: 1px solid #ddd; 
    text-align: left; 
}


h1 {
    font-size: 2.5rem; 
    color: #2c3e50; 
}

h2 {
    font-size: 1.8rem; 
    color: #2c3e50; 
}