
.dish-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}


.dish {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 35px;
    padding: 30px 40px;
    cursor: pointer;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    transition: 0.2s;
}

.dish:hover {
    border: 2px solid tomato;
}

.dish:hover button {
    background-color: tomato;
    color: white;
}

.dish img {
    width: 100%;
    border-radius: 35px;
}

.price {
    font-size: 1.4rem;
    margin: 10px 0;
}

.name {
    font-size: 1.2rem;
}

.weight {
    color: gray;
    margin: 10px 0;
}


.dish button {
    margin-top: auto;
    padding: 10px 30px;
    background: #f1eee9;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}


#active {
    color: tomato;
}


@media (max-width: 800px) {

    .dish-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    nav {
        display: flex;
        justify-content: space-between !important;
        flex-wrap: wrap;
    }

    h1 {
        text-align: center;
    }
}

@media (max-width: 600px) {

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        font-size: 1.1rem;
    }

    section h2 {
        text-align: center;
    }

    .dish-grid {
        grid-template-columns: 1fr;
    }
}
